{% sw_extends '@Storefront/storefront/element/cms-element-product-description-reviews.html.twig' %}

{% block element_product_description_reviews_tabs_navigation_review %}
    <!-- block element_product_description_reviews_tabs_navigation_review extended by ingos -->
    <!-- 2024-03-09_18:18+element -->
    {{ parent() }}

    {% block element_product_description_reviews_tabs_navigation_review_inner %}

        {% block element_product_description_reviews_tabs_navigation_review_inner_default %}
            {% set fillTabViaSnippet = config('SschreierTabProductDetailPage.config.FillTabViaSnippet') %}
        {% endblock %}

        {% sw_include '@IngoSCostTransparency/storefront/page/product-detail/tab-headline.html.twig' %}
    {% endblock %}
{% endblock %}

{% block element_product_description_reviews_tabs_content_review %}
    {{ parent() }}

    {% block element_product_description_reviews_tabs_content_review_inner %}
        {% block element_product_description_reviews_tabs_content_review_inner_default %}
            <!-- set fillTabViaSnippet = config('SschreierTabProductDetailPage.config.FillTabViaSnippet') -->
        {% endblock %}

        {% if showTab %}
            <div class="tab-pane fade show"
                 id="{{ customTabContent }}"
                 role="tabpanel"
                 aria-labelledby="{{ customTabId }}">
                {% sw_include '@IngoSCostTransparency/storefront/page/product-detail/ingos-cost-transparency-tab.html.twig' %}
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}
