/** additional cost-transparency information */

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }

  50% {
    -webkit-transform: scale3d(1.05,1.05,1.05);
    transform: scale3d(1.05,1.05,1.05)
  }

  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }

  50% {
    -webkit-transform: scale3d(1.05,1.05,1.05);
    transform: scale3d(1.05,1.05,1.05)
  }

  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }
}

.ingos-info .icon.icon-info {
  margin-right: 1rem;
}

.ingos-cost {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 0.5rem;

  @media (max-width: 1188px) {
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .ingos-cost-group {
    position: static;
    cursor: pointer;

    .ingos-cost-group-bar {
      background-color: silver;
      /* animate__pulse by animate.style */
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-duration: var(--animate-duration);
      animation-duration: var(--animate-duration);
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: pulse;
      animation-name: pulse;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
    }

    &:nth-child(5n) .ingos-cost-group-bar {
      background-color: #eebd57;
    }

    &:nth-child(5n-1) .ingos-cost-group-bar {
      background-color: #e44a74;
    }

    &:nth-child(5n-2) .ingos-cost-group-bar {
      background-color: #45b571;
    }

    &:nth-child(5n-3) .ingos-cost-group-bar {
      background-color: #3b9df9;
    }

    &:nth-child(5n-4) .ingos-cost-group-bar {
      background-color: #f5e04d;
    }

    @media (max-width: 1188px) {
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 1rem;
    }

    .ingos-cost-group-bar {
      height: 3rem;
      border-radius: 0.25rem;
      box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);

      @media (max-width: 1188px) {
        flex-grow: 1;
        width: 100%;
      }
    }

    &.ingos-active > .ingos-cost-group-bar {
      box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.5);
    }

  }

  .ingos-cost-group-contents {
    .ingos-cost-group-content {
      padding: 1rem;
      background-color: #f2f2f2;
      color: #000;
      display: none;
      &.ingos-active {
        display: flex;
      }
    }
  }
}

