<li class="nav-item">
    <a
        class="nav-link product-detail-tab-navigation-link"
        id="ingos-cost-transparency-tab"
        data-bs-toggle="tab"
        data-off-canvas-tabs="true"
        href="#ingos-cost-transparency-tab-pane"
        role="tab"
        aria-controls="ingos-cost-transparency-tab-pane"
        aria-selected="false"
    >
        <span>{{ 'ingos.costTransparency.costTransparency' | trans }}</span>
        <span>2024-03-09_18:53</span>
        <span class="product-detail-tab-navigation-icon">
            {% sw_icon 'arrow-medium-right' style {pack:'solid'} %}
        </span>
        <span class="product-detail-tab-preview">
            {% block page_product_detail_tabs_navigation_review_custom_tab_content_preview %}
                **INGOS-EXAMPLE-PREVIEW-CONTENT (via include)** <!-- TODO change -->
            {% endblock %}
        </span>
    </a>
</li>